.star-rating {
    display: inline-block;
    font-size: 1em;
    color: #d3d3d3; /* Boja za nepopunjene zvezdice */
  }
  
  .star-rating .filled {
    color: #ffc107; /* Boja za popunjene zvezdice */
    overflow: hidden;
    white-space: nowrap;
  }
